In [1]:
# _*_ coding:utf-8 _*_
"""
create on: 2020-10-19
author: mark
@function:
负荷时间序列预测，栈式自编码网络(SAE-NN)
多变量，加入气象因素和经济因素
"""

'\ncreate on: 2020-10-19\nauthor: mark\n@function:\n负荷时间序列预测，栈式自编码网络(SAE-NN)\n多变量，加入气象因素和经济因素\n'

In [2]:
import torch
import torch.nn as nn
import torchvision.datasets as dsets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdb

from torch.autograd import Variable
from torch.utils.data import Dataset
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sqlalchemy import create_engine

In [3]:
# 加载数据
district_id = '0101110000'
engine = create_engine('mysql+pymysql://root:fit4-305@localhost:3306/loadanalysis')
data = pd.read_sql_table(table_name='integrate_'+district_id, con=engine, index_col='time')

In [22]:
# 将时间序列数据变为监督学习数据
def series_to_supervise(data):
    # append ex climate data
    names = ['wea','tem','hum','win','dir','winclass','tembody']
    col_names = list()
    cols = list()
    climate_data = data[names]
    for i in range(1, 3):
        cols.append(climate_data.shift(i))
        col_names += [name + '(t-%d)'%i for name in names]
    ex_climate_data = pd.concat(cols, axis=1)
    ex_climate_data.columns = col_names
    # append ex load data
    col_names = list()
    cols = list()
    load_data = data[['load']]
    for i in list([1,2,3,4,5,6,7,8,24,48,72,96,120,144,168,336,504]):
        cols.append(load_data.shift(i))
        col_names += ['load' + '(t-%d)'%i]
    ex_load_data = pd.concat(cols, axis=1)
    ex_load_data.columns = col_names
    supervise_data = pd.concat((data, ex_climate_data, ex_load_data), axis=1)
    
    return supervise_data

In [23]:
dataset = series_to_supervise(data)

In [36]:
# 归一化
X = dataset.drop(['load'], axis=1)
scaler_x = MinMaxScaler()
X = scaler_x.fit_transform(X)
Y = dataset[['load']].values
scaler_y = MinMaxScaler()
Y = scaler_y.fit_transform(Y)
# 划分训练集与测试集
trainX, testX, trainY, testY = train_test_split(X, Y, test_size=0.3)

In [37]:
# Dataset处理
class MyDataset(Dataset):
    def __init__(self, data, labels):
        self.data = data
        self.labels = labels
    def __len__(self):
        return len(self.data)
    def __getitem__(self, idx):
        return self.data[idx], self.labels[idx]

In [ ]:
# 定义SAE-NN网络结构

In [34]:
dataset['load'].values

array([13169.2, 12652.3, 12118.5, ..., 15200.2, 14185.2, 12676.6])

In [26]:
dataset.drop(['load'], axis=1).info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31659 entries, 2017-01-01 00:00:00 to 2020-08-16 23:00:00
Data columns (total 46 columns):
GDP              31659 non-null float64
GDP_rate         31659 non-null float64
2_add_value      31659 non-null float64
3_add_value      31659 non-null float64
2_ratio          31659 non-null float64
3_ratio          31659 non-null float64
av_GDP           31659 non-null float64
urban_ratio      31659 non-null float64
wea              31659 non-null float64
tem              31659 non-null float64
hum              31659 non-null float64
win              31659 non-null float64
dir              31659 non-null float64
winclass         31659 non-null float64
tembody          31659 non-null float64
wea(t-1)         31658 non-null float64
tem(t-1)         31658 non-null float64
hum(t-1)         31658 non-null float64
win(t-1)         31658 non-null float64
dir(t-1)         31658 non-null float64
winclass(t-1)    31658 non-null float64
tembody(t-1)     31658 non-null float64
wea(t-2)         31657 non-null float64
tem(t-2)         31657 non-null float64
hum(t-2)         31657 non-null float64
win(t-2)         31657 non-null float64
dir(t-2)         31657 non-null float64
winclass(t-2)    31657 non-null float64
tembody(t-2)     31657 non-null float64
load(t-1)        31658 non-null float64
load(t-2)        31657 non-null float64
load(t-3)        31656 non-null float64
load(t-4)        31655 non-null float64
load(t-5)        31654 non-null float64
load(t-6)        31653 non-null float64
load(t-7)        31652 non-null float64
load(t-8)        31651 non-null float64
load(t-24)       31635 non-null float64
load(t-48)       31611 non-null float64
load(t-72)       31587 non-null float64
load(t-96)       31563 non-null float64
load(t-120)      31539 non-null float64
load(t-144)      31515 non-null float64
load(t-168)      31491 non-null float64
load(t-336)      31323 non-null float64
load(t-504)      31155 non-null float64
dtypes: float64(46)
memory usage: 12.6 MB

In [9]:
tmp = data[['wea']].shift(1)
data1 = pd.concat((data, tmp), axis=1)

In [12]:
data1[['wea']]

                      wea   wea
time
2017-01-01 00:00:00  12.0   NaN
2017-01-01 01:00:00  12.0  12.0
2017-01-01 02:00:00  12.0  12.0
2017-01-01 03:00:00  12.0  12.0
2017-01-01 04:00:00  12.0  12.0
2017-01-01 05:00:00  23.0  12.0
2017-01-01 06:00:00  23.0  23.0
2017-01-01 07:00:00  23.0  23.0
2017-01-01 08:00:00  14.0  23.0
2017-01-01 09:00:00  14.0  14.0
2017-01-01 10:00:00  14.0  14.0
2017-01-01 11:00:00  14.0  14.0
2017-01-01 12:00:00  14.0  14.0
2017-01-01 13:00:00  14.0  14.0
2017-01-01 14:00:00  14.0  14.0
2017-01-01 15:00:00  14.0  14.0
2017-01-01 16:00:00  14.0  14.0
2017-01-01 17:00:00  23.0  14.0
2017-01-01 18:00:00  23.0  23.0
2017-01-01 19:00:00  23.0  23.0
2017-01-01 20:00:00  14.0  23.0
2017-01-01 21:00:00  14.0  14.0
2017-01-01 22:00:00  14.0  14.0
2017-01-01 23:00:00  14.0  14.0
2017-01-02 00:00:00  12.0  14.0
2017-01-02 01:00:00  12.0  12.0
2017-01-02 02:00:00  12.0  12.0
2017-01-02 03:00:00  12.0  12.0
2017-01-02 04:00:00  12.0  12.0
2017-01-02 05:00:00  12.0  12.0
...                   ...   ...
2020-08-15 18:00:00  23.0  20.0
2020-08-15 19:00:00  20.0  23.0
2020-08-15 20:00:00  20.0  20.0
2020-08-15 21:00:00  29.0  20.0
2020-08-15 22:00:00  20.0  29.0
2020-08-15 23:00:00  29.0  20.0
2020-08-16 00:00:00  20.0  29.0
2020-08-16 01:00:00  29.0  20.0
2020-08-16 02:00:00  29.0  29.0
2020-08-16 03:00:00  23.0  29.0
2020-08-16 04:00:00  29.0  23.0
2020-08-16 05:00:00  23.0  29.0
2020-08-16 06:00:00  29.0  23.0
2020-08-16 07:00:00  23.0  29.0
2020-08-16 08:00:00  23.0  23.0
2020-08-16 09:00:00  23.0  23.0
2020-08-16 10:00:00  23.0  23.0
2020-08-16 11:00:00  23.0  23.0
2020-08-16 12:00:00  23.0  23.0
2020-08-16 13:00:00  23.0  23.0
2020-08-16 14:00:00  23.0  23.0
2020-08-16 15:00:00  23.0  23.0
2020-08-16 16:00:00  23.0  23.0
2020-08-16 17:00:00  23.0  23.0
2020-08-16 18:00:00  23.0  23.0
2020-08-16 19:00:00  23.0  23.0
2020-08-16 20:00:00  23.0  23.0
2020-08-16 21:00:00  23.0  23.0
2020-08-16 22:00:00  23.0  23.0
2020-08-16 23:00:00  23.0  23.0

[31659 rows x 2 columns]