In [5]:
# _*_ coding: utf-8 _*_
'''
Create on 2020/09/18

@author: mark
'''
import pymysql
import pandas as pd
import numpy as np
import pdb
import datetime
from sqlalchemy import create_engine

In [15]:
# 负荷数据导入数据库中
# 读取负荷数据
load_2018 = pd.read_excel('负荷数据2018.xlsx')
load_2019 = pd.read_excel('负荷数据2019.xlsx')

In [9]:
engine = create_engine('mysql+pymysql://root:fit4-305@localhost:3306/loadanalysis')
sql = 'select * from district_tables_index'
df = pd.read_sql_query(sql, engine, index_col='district_id')

<bound method DataFrame.info of             district_name       climate_table       load_table  \
district_id
0101110000           北京电网  climate_0101110000  load_0101110000
0101120000           天津电网  climate_0101120000  load_0101120000
0101310000           上海电网  climate_0101310000  load_0101310000
0101500000           重庆电网  climate_0101500000  load_0101500000

                  integrate_table       extract_table       predict_table  \
district_id
0101110000   integrate_0101110000  extract_0101110000  predict_0101110000
0101120000   integrate_0101120000  extract_0101120000  predict_0101120000
0101310000   integrate_0101310000  extract_0101310000  predict_0101310000
0101500000   integrate_0101500000  extract_0101500000  predict_0101500000

                  cluster_table update_time
district_id
0101110000   cluster_0101110000  2016-01-01
0101120000   cluster_0101120000  2016-01-01
0101310000   cluster_0101310000  2016-01-01
0101500000   cluster_0101500000  2016-01-01  >

In [13]:
load_2018.to_sql(name = 'load_0101110000', con = engine, index = False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '2018-01-01 00:00:00' for key 'PRIMARY'")
[SQL: INSERT INTO load_0101110000 (time, `load`) VALUES (%(time)s, %(load)s)]
[parameters: ({'time': datetime.datetime(2018, 1, 1, 0, 0), 'load': 5459.5557}, {'time': datetime.datetime(2018, 1, 1, 1, 0), 'load': 5444.793}, {'time': datetime.datetime(2018, 1, 1, 2, 0), 'load': 5446.913}, {'time': datetime.datetime(2018, 1, 1, 3, 0), 'load': 5444.6343}, {'time': datetime.datetime(2018, 1, 1, 4, 0), 'load': 5444.309}, {'time': datetime.datetime(2018, 1, 1, 5, 0), 'load': 5443.587}, {'time': datetime.datetime(2018, 1, 1, 6, 0), 'load': 5435.9077}, {'time': datetime.datetime(2018, 1, 1, 7, 0), 'load': 5429.8896}  ... displaying 10 of 8688 total bound parameter sets ...  {'time': datetime.datetime(2018, 12, 31, 22, 0), 'load': 8331.228}, {'time': datetime.datetime(2018, 12, 31, 23, 0), 'load': 7682.8633})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [16]:
load_2019.to_sql(name = 'load_0101110000', con = engine, index = False, if_exists='append')

In [61]:
# 气象数据导入到数据库中
# 读取气象数据
climate_2018 = pd.read_csv('天气数据2018.csv')
climate_2019 = pd.read_csv('天气数据2019.csv')
climate = pd.concat((climate_2018, climate_2019), axis = 'rows', join = 'outer')
climate.dropna(axis = 1, how = 'any', inplace = True)
climate.drop(['rain'], axis = 1, inplace = True)

In [63]:
date_time = climate['day'].astype(str) + ' ' + climate['time'].astype(str)
climate.index = pd.to_datetime(date_time)
climate.drop(['day', 'time'], axis = 1, inplace=True)

In [66]:
# numerization
wea_unique = list(set(climate.wea))
win_unique = list(set(climate.win))
dir_unique = list(set(climate.dir))

def numerization(datum):
#     pdb.set_trace()
    datum['wea'] = float(wea_unique.index(datum.wea) + 1)
    datum['tem'] = float(datum.tem.replace('℃', ''))
    datum['hum'] = float(datum.hum.replace('%', ''))
    datum['win'] = float(win_unique.index(datum.win) + 1)
    datum['dir'] = float(dir_unique.index(datum.dir) + 1)
    datum['winclass'] = float(datum.winclass.replace('级', '').replace('-', '1'))
    datum['tembody'] = float(datum.tembody.replace('℃', ''))
    return datum

climate = climate.apply(numerization, axis=1)

In [68]:
climate.to_sql(name = 'climate_0101110000', con = engine, index=True, if_exists='append', index_label='time')

In [5]:
import datetime
str1 = '2019-1-1'
date1 = datetime.datetime.strptime(str1, '%Y-%m-%d')
str2 = datetime.datetime.strftime(date1, '%Y-%m-%d')

In [9]:
str(date1.year)+'-'+str(date1.month)+'-'+str(date1.day)

'2019-1-1'